<<<<<<< HEAD
<div class="container">
    <h1>User Management System</h1>
    <hr>
    <h2>Please fill the Details </h2>
    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{alert}}
    </div>
    {{/if}}

    <form action="/adduser" method="POST">
        <input type="text" name="name" id="floatingInput" placeholder="User name" class="form-control mb-4 col-4">
        <input type="text" name="email" id="floatingInput" placeholder="User email" class="form-control mb-4 col-4">
        <input type="text" name="contact" id="floatingInput" placeholder="User contact" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save User</button>

    </form>
=======
<div class="container">
    <h1>User Management System</h1>
    <hr>
    <h2>Please fill the Details </h2>
    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{alert}}
    </div>
    {{/if}}

    <form action="/adduser" method="POST">
        <input type="text" name="name" id="floatingInput" placeholder="User name" class="form-control mb-4 col-4">
        <input type="text" name="email" id="floatingInput" placeholder="User email" class="form-control mb-4 col-4">
        <input type="text" name="contact" id="floatingInput" placeholder="User contact" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save User</button>

    </form>
>>>>>>> 530654bee35f80307285cfec45806df05c06a49d
</div>