<<<<<<< HEAD

		<div class="login-form">
			<h1>Admin Login Form</h1>
			<form action="/index" method="POST">
				<input type="text" name="name" placeholder="Username" required><br><br>
				<input type="password" name="password" placeholder="Password" required><br><br>
				<input type="submit">
			</form>

=======

		<div class="login-form">
			<h1>Admin Login Form</h1>
			<form action="/index" method="POST">
				<input type="text" name="name" placeholder="Username" required><br><br>
				<input type="password" name="password" placeholder="Password" required><br><br>
				<input type="submit">
			</form>

>>>>>>> 530654bee35f80307285cfec45806df05c06a49d
